# IDE
.idea

# development
node_modules
coverage
storybook-static
packages/*/dist
packages/*/coverage
packages/*/src/*.d.ts
packages/*/src/**/*.d.ts
packages/*/src/**/*.map

# temporary
tmp
temp
*.log

# files
package-lock.json
