# IDE
.idea

# development
node_modules
coverage
coverage-summary.json
storybook-static
packages/*/dist
packages/*/coverage
packages/*/src/*.d.ts
packages/*/src/**/*.d.ts
packages/*/src/**/*.map
packages/*/tests/jest.json
*py


# temporary
tmp
temp
*.log

# files
package-lock.json
