h1 {
    margin: 0 0 0 0 !important;
    font-size: 32px !important;
    margin-bottom: 0.5em !important;
}

h2 {
    margin: 0 0 0 0 !important;
    font-size: 26px !important;
    margin-top: 1.5em !important;
    margin-bottom: 0.5em !important;
}

h1,
h2,
h3,
h4,
p,
li {
    font-family: sans-serif;
    color: #222;
}

.sbdocs p,
.sbdocs li {
    max-width: 800px;
}

p,
li {
    line-height: 1.6;
    font-size: 17px;
}

p code {
    background-color: #f8f8f8;
    border: #dddddd solid 1px;
    color: #333333;
    padding: 2px 4px;
    font-size: 16px;
}

div.sidenote {
    padding: 0.5em 1.5em;
    max-width: 800px;
    background-color: #f8f8f8;
}

button {
    margin: 0.5em;
    padding: 0.25em 0.75em;
    border-radius: 6px;
    background-color: #eeeeee;
    border: solid 1px #999999;
}
button:hover {
    border: solid 1px #777777;
    background-color: #ffffff;
    cursor: pointer;
}
button.icon {
    margin: 0em 0.5em 0em 0em;
    padding: 0.25em 0.5em 0em 0.5em;
}
span.icon {
    background-color: #f8f8f8;
    padding: 5px 4px 4px 4px;
    border-radius: 6px;
    border: #dddddd solid 1px;
}
span.icon svg {
    margin-bottom: -6px;
}

/** controller for stories */
div.controller {
    margin: -10px -20px 20px -20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    font-family: 'Nunito Sans', -apple-system, '.SFNSText-Regular', 'San Francisco',
        BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #555;
}

div.controller-label,
div.controller-progress {
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    padding-bottom: 16px;
    margin-right: 8px;
}
div.controller button.themeButton {
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
    margin-left: 8px;
    margin-top: -16px;
}
div.controller button.themeButton.selected {
    background-color: #f4f4f4;
}
div.controller-progress {
    margin-left: 8px;
}
div.controller-spacer {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}
div.controller button {
    margin: 0;
    padding: 2px 3px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #ffffff;
    position: relative;
}
div.controller button:hover,
div.controller button.themeButton.selected:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
div.controller span.tooltip {
    visibility: hidden;
    background-color: #262626;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 35px;
    left: 50%;
    width: 120px;
    margin-left: -60px;
}
div.controller button:hover span.tooltip {
    visibility: visible;
}
div.controller-chart {
    display: flex;
}
div.controller-chart div.chart {
    display: flex;
}
div.controller-chart div.comment {
    display: flex;
    margin-left: 40px;
    padding-bottom: 50px;
    line-height: 1.5;
    font-size: 15px;
    font-family: sans-serif;
    color: #666;
    align-items: center;
}
